<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tier List</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="tier-list-container">
        <div class="tier-list-row">
            <div class="row-label" style="background-color: red;">
                <p class="row-label-text">S</p>
            </div>
            <div class="row-content">

            </div>
        </div>
        <div class="tier-list-row">
            <div class="row-label" style="background-color: orange;">
                <p class="row-label-text">A</p>
            </div>
            <div class="row-content">

            </div>
        </div>
        <div class="tier-list-row">
            <div class="row-label" style="background-color: yellow;">
                <p class="row-label-text">B</p>
            </div>
            <div class="row-content">

            </div>
        </div>
        <div class="tier-list-row">
            <div class="row-label" style="background-color: green;">
                <p class="row-label-text">C</p>
            </div>
            <div class="row-content">

            </div>
        </div>
        <div class="tier-list-row">
            <div class="row-label" style="background-color: blue;">
                <p class="row-label-text">D</p>
            </div>
            <div class="row-content">

            </div>
        </div>
    </div>
    <form method="POST">
        <input id="name-input" type="text" name="name">
        <button type="submit" name="S-button" formaction="/move/S">S</button>
        <button type="submit" name="A-button" formaction="/move/A">A</button>
        <button type="submit" name="B-button" formaction="/move/B">B</button>
        <button type="submit" name="C-button" formaction="/move/C">C</button>
        <button type="submit" name="D-button" formaction="/move/D">D</button>
    </form>
    <div id="photo-container-id" class="photo-container">
        {% for image in images %}
        <img id="{{ image }}" src="static/{{ image }}" onclick="fillNameField('{{ image }}')">
        {% endfor %}
    </div>
    <script>
        function fillNameField(name) {
            nameInput = document.getElementById("name-input");
            nameInput.value = name;
            all_images = document.getElementById("photo-container-id").children;
            for (let i = 0; i < all_images.length; i++) {
                if (all_images[i].id == name) {
                    all_images[i].className = "active-image";
                } else {
                    all_images[i].className = "";
                }
            }
        }
    </script>
</body>
</html>